.loadingBG{
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.582);
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading{
    justify-content: center;
    display: inline-block;
    border: 8px solid #c6e1ff;
    border-top-color: #01b4e4;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    animation: load 0.5s infinite;
}

@keyframes load {
    to{
        transform: rotate(1turn);
    }
}