
.notf{
    width: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
}

.notf .notfMsg{
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    max-width: 400px;
    margin: 0px auto;
    margin-top: 20px;
    background-color: rgba(112, 184, 148, 0.856);
    text-align: center;
    border-radius: 10px;
    animation: aparecer 2.5s ease-out,mover 0.5s ease-in-out forwards;
    /* animation: mover 0.3s ease-out forwards; */
    opacity: 0;
}

@keyframes aparecer {
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes mover {
    from{
        transform: translate(0px, -20px);
    }
    to{
        transform: translate(0px, 0px);
    }
}



