.banner{
    overflow: clip;
    max-height: 600px;
    max-width: 100%;
    position: relative;
    transition: opacity ease-in-out 1s; /* Transição para a opacidade */
}

.fadeIn{
    opacity: 1;
    transition: opacity ease-in-out 1s; /* Transição suave ao aparecer */
}

.fadeOut{
    opacity: 0;
    transition: opacity ease-in-out 1s; /* Transição suave ao desaparecer */
}

.banner img{
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    filter: brightness(70%); 
}


.skipBack{
    display: grid;
    grid-template-columns: 100px 1fr 100px;
    position: absolute; 
    top: 0px; 
    height: 100%;
    width: 100%;
}

.skipBack .bannerBtn{
    place-self: center;
    background-color: #ffffff00;
    cursor: pointer;
    font-size: 60px;
    color: #c4e1ff;
}

.desc{
    display: flex;
    align-items: start;
    justify-content: center;
    margin-left: 8%;
    flex-direction: column;
    gap: 20px;
}

.desc p {
    max-width: 550px;
    font-size: 1.3rem;
    line-height: 1.2;
}
.desc h1{
    font-size: 4rem;
    /* font caixa alta */
    
}

.desc button{
    padding: 15px 25px;
    font-size: 1.1rem;
    font-weight: bold;
    background-color: #0a3b70;
    color: #ffffff;
    border-radius: 5px;
}

@media only screen and (max-width: 1200px) {
    .desc p {
        font-size: 1.2rem;
        line-height: 1.2;
        max-width: 400px;
    }

    .desc h1{
        font-size: 3rem;
    }

    .desc{
        margin-left: 5%;
        gap: 10px;
    }

    .skipBack .bannerBtn{
        font-size: 40px;
    }
}

@media only screen and (max-width: 800px) {
    .desc h1{
        font-size: 2rem;
    }
    .desc p{
        display: none;
    }
}
