.headerBg{
    background-color: #0d253f;
    display: flex;
    justify-content: center;
}

.header{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: 0px 80px;
}

.btnList{
    display: flex;
    gap: 20px;
    
}

.btnList a{
    padding: 15px 20px;
    display: block;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
}

.sair{
    background-color: rgba(243, 54, 54, 0.479);
    border-radius: 10px;
}

@media only screen and (max-width: 1050px) {
    .btnList a{
        padding: 10px 15px;
        font-size: 1rem;
    }
}